* {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::selection {
    background: #8A2BE2; 
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    min-height: 100%;
}
